* {
    margin: 0;
    padding: 0;
    transition: 2s;
    font-family: 'Gill Sans';
}

html {
    background: #020122;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 3000px;
    top: 0;
    left: 0;
    z-index: 0;
}

.title {
    font-size: 2.7rem;
    font-family: "Verdana"; /* to change inshaAllah */
    font-weight: 800;
    color: white;
}

body {
    background: linear-gradient(to left, #020122, #371802, #020122);
    height: 3000px;
}

main {
    background-size: 40px 40px;
    background-image:
    linear-gradient(to right, rgba(250,250,250,0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(250,250,250,0.1) 1px, transparent 1px);
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

h1 {
    color: white;
    font-family: "Momo Trust Display" !important;
    font-size: 6rem;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    animation: fade-out;
    transition: 2s;
    animation-timeline: view(10% 100%);
}

.intro span {
    color: white;
    margin: 5px 20px;
    width: 70%;
    text-align: center;
    font-size: 1.5rem;
}

.holder {
    background: #F96900;
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

.holder:hover {
    width: 200px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

h2 {
    color: white;
    margin: auto;
    text-align: center;
    font-family: "Momo Trust Display" !important;
    font-size: 4rem;
}

.scroll {
    animation: jump;
    animation-timeline: view(90% 10%);
    animation-fill-mode: both;
}

.events {
    padding: 0;
}

.card {
    background: linear-gradient(145deg, rgba(55, 24, 2, 0.8), rgba(55, 24, 2, 0.4), rgba(55, 24, 2, 0.8));
    backdrop-filter: blur(10px);
    width: 300px;
    height: 250px;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    inset: 0 0 0 0;
}

.card-content img {
    width: 250px;
    height: 200px;
    border-radius: 20px;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.card-content span {
    position: absolute;
    bottom: 12%;
    left: 12%;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    text-shadow: 
    black 2px 2px 10px,
    black -2px -2px 10px;
}

.banner {
    width: 100%;
    height: 300px;
}

.slider {
    position: relative;
    top: 10%;
    width: 100%;
    height: 400px;
    transform-style: preserve-3d;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5% 5%;
    align-items: center;
    justify-content: center;
}


@keyframes fade-out {
    from {
        opacity: 1;
        filter: blur(0px);
    }
    to {
        opacity: 0;
        filter: blur(20px);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes jump {
    from {
        transform: translateY(200px);
        filter: blur(30px);
    }

    to {
        transform: translateY(-200px);
        filter: blur(0px);
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        margin-bottom: 10px;
    }

    .intro span {
        font-size: 1rem;
    }

    .slider {
        grid-template-columns: auto;
    }

    .title {
        font-size: 2rem;
    }
}